<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nowy projekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="view/css/app.css">
</head>
<body ng-app="myApp">
  <header> <!-- Nagłówek strony -->
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="view/images/logo.jpg" />
          </div>
          <div class="col-sm-7 text-right">

<div class="row">
  <div class="col-sm-12">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Shop</a>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="productsController">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#/products">Produkty <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                      </ul>
                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>

                      </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                 </nav>
      </div>
</div>



              <button type="button" class="btn default" data-toggle="modal" data-target=".cartModal" ><span class="glyphicon glyphicon-shopping-cart"></span></button>
          </div>
        </div>
      </div>
  </header><!-- Nagłówek strony -->
  <div class="modal fade cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-controller="cartController">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Koszyk</h4>
      </div>
      <div class="modal-body">
          <table class="table">
          <tr>
              <th></th><th>Produkt</th><th>Cena</th>
          </tr>
          <tr ng-repeat="product in listProductInCart track by $index">
              <td><img ng-src="{{product.picture}}"/></td>
              <td>{{product.title}}</td>
              <td class="price">{{ product.price | currency:'PLN ' }}</td>
          </tr>
          </table>
          <a href="#/summary" class="btn btn-success" role="button">Przejdź do kasy</a>
    </div>
    </div>
  </div>
</div>
  <section> <!-- Sekcja główna aplikacji -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div ng-view></div>
      </div>
    </div>
  </div>
</section><!-- Sekcja główna aplikacji -->
  <script src="view/js/data.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/CartController.js"></script>
  <script src="app/controllers/listController.js"></script>
  <script src="app/controllers/productController.js"></script>
  <script src="app/controllers/productsController.js"></script>
    <script src="app/controllers/summaryController.js"></script>
  <script src="app/services/CartService.js"></script>
  <script src="app/directive/product.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/jquery-1.12.0.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
