body{
  font-family: 'Raleway', sans-serif;
}
img{
  width: 100%;
}
header{
    padding: 25px 0;
    border-bottom: 1px solid #f1f1f1;
}
section{
  margin-top: 80px;
}
section .page-header h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #494c4e;
}
section .page-header h1 small{
  display: block;
  color: #999999;
  font-weight: bold;
}
section .directive{
  text-align: center;
  margin-top: 50px;
}
.jumbotron ol li{
    text-align: left;
}
#example1 .input-group{
    margin-bottom: 15px;
}
#example1 .summary{
    margin-top: 30px;
}
.tab-pane{
    margin-top: 30px;
}
.full-width{
    width: 100%;
}
.mb20{
    margin-bottom: 20px;
}
.mt20{
    margin-top: 20px;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.product{
    margin: 0 20px 40px;
    width: calc(25% - 44px);
    position: relative;
    padding-bottom: 40px;
}
.product .listButton {
    position: absolute;
    bottom: 0px;
    right:0px;
    white-space: nowrap;
}
.product .listButton button{
    display: inline-block;
}
.cartModal img{
    width: 140px;
    height: auto;
}
.cartModal .price{
    width: 100px;
}
