<div>
  <ol *ngIf="cartProduct.length; else emptyCart" class="list-group" >
    <li *ngFor="let product of cartProduct; let i = index" class="list-group-item" style="overflow: hidden">
      {{product.title}}
      <button class="btn btn-default pull-right" type="button" (click)="removeFromCart(i)"><i class="glyphicon glyphicon-minus-sign"></i></button>
    </li>
  </ol>
  <ng-template #emptyCart>
    <div style="font-size: 20px; font-weight: bold; text-align: center">
      Brak produktow
    </div>
  </ng-template>
</div>