<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nowy projekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="view/css/app.css">
  <link rel="stylesheet" href="view/css/animate.css">
</head>
<body ng-app="myApp">
  <header> <!-- Nagłówek strony -->
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="view/images/logo.jpg" />
          </div>
          <div class="col-sm-7 text-right">
              <ul class="nav nav-pills">
                  <li role="presentation" class="/"><a href="#">Strona główna</a></li>
                  <li role="presentation"><a href="#/addproduct">Dodaj produkt</a></li>
                  <li role="presentation"><a href="#">Messages</a></li>
                </ul>
              <button type="button" class="btn default" data-toggle="modal" data-target=".cartModal" ><span class="glyphicon glyphicon-shopping-cart"></span></button>
          </div>
        </div>
      </div>
  </header><!-- Nagłówek strony -->
  <div ng-include="'/view/partials/loginModal.html'"></div>
  <div class="modal fade cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-controller="cartController">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Koszyk</h4>
      </div>
      <div class="modal-body">
          <table class="table">
          <tr>
              <th></th><th>Produkt</th><th>Cena</th>
          </tr>
          <tr ng-repeat="product in listProductInCart track by $index">
              <td><img ng-src="{{product.picture}}"/></td>
              <td>{{product.title}}</td>
              <td class="price">{{ product.price | currency:'PLN ' }}</td>
          </tr>
          </table>
    </div>
    </div>
  </div>
</div>
  <section> <!-- Sekcja główna aplikacji -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div ng-view></div>
      </div>
    </div>
  </div>
</section><!-- Sekcja główna aplikacji -->

  <script src="view/js/data.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-cookies.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/CartController.js"></script>
  <script src="app/controllers/listController.js"></script>
  <script src="app/controllers/productController.js"></script>
  <script src="app/controllers/addProductController.js"></script>
  <script src="app/controllers/loginController.js"></script>
  <script src="app/services/CartService.js"></script>
  <script src="app/services/DatabaseService.js"></script>
  <script src="app/directive/product.js"></script>

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/jquery-1.12.0.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
