<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nowy projekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="view/css/app.css">
</head>
<body ng-app="myApp">
  <header> <!-- Nagłówek strony -->
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="view/images/logo.jpg" />
          </div>
          <div class="col-sm-7">
          </div>
        </div>
      </div>
  </header><!-- Nagłówek strony -->
  <section> <!-- Sekcja główna aplikacji -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="welcome" ng-controller="kontroler">
          <div class="page-header">
            <h1>{{welcome}} <small ng-bind="welcome2"></small></h1>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#datalist" aria-controls="datalist" role="tab" data-toggle="tab">Lista danych</a></li>
                  <li role="presentation"><a href="#example1" aria-controls="example1" role="tab" data-toggle="tab">Przykład orderBy 1</a></li>
                  <li role="presentation"><a href="#example2" aria-controls="example2" role="tab" data-toggle="tab">Przykład orderBy 2</a></li>
                  <li role="presentation"><a href="#example3" aria-controls="example3" role="tab" data-toggle="tab">Przykład filter 1</a></li>
                  <li role="presentation"><a href="#example4" aria-controls="example4" role="tab" data-toggle="tab">Przykład własnego filtra</a></li>
              </ul>
            </div>
            <div class="col-md-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="datalist">
                        <div class="panel panel-default">
                          <div class="panel-heading">Przykładowe dane</div>
                          <table class="table">
                              <tr>
                                <th>Imię</th> <th>Nazwisko</th> <th>E-mail</th> <th>Płeć</th> <th>Adres IP</th>
                              </tr>
                              <tr ng-repeat="element in list">
                                <td>{{element.first_name}}</td>
                                <td>{{element.last_name}}</td>
                                <td>{{element.email}}</td>
                                <td>{{element.gender}}</td>
                                <td>{{element.ip_address}}</td>

                              </tr>
                          </table>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="example1">
                        <div class="panel panel-default">
                          <div class="panel-heading">Przykładowe dane<br><small> Posortowane po nazwisku </small></div>
                          <table class="table">
                              <tr>
                                <th>Imię</th> <th>Nazwisko</th> <th>E-mail</th> <th>Płeć</th> <th>Adres IP</th>
                              </tr>
                              <tr ng-repeat="element in list | orderBy:'last_name' | limitTo: -9">
                                <td>{{element.first_name}}</td>
                                <td>{{element.last_name | uppercase}}</td>
                                <td>{{element.email}}</td>
                                <td>{{element.gender}}</td>
                                <td>{{element.ip_address}}</td>
                              </tr>
                          </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="example2">
                        <div class="panel panel-default">
                          <div class="panel-heading">Przykładowe dane <br> <small> Z możliwością sortowania po kolumnach</small></div>
                          <div class="input-group full-width mt20 mb20">
                          <select ng-model="sortBy" class="form-control full-width">
                              <option value="first_name"> Imie </option>
                              <option value="last_name"> Nazwisko </option>
                              <option value="email"> Email </option>
                              <option value="gender"> Płec </option>
                              <option value="ip_address"> IP </option>
                          </select>
                        </div>
                          <table class="table">
                              <tr>
                                <th ng-click="sortBy = (sortBy == 'first_name') ? '-first_name' : 'first_name' ">Imię</th>
                                <th ng-click="sortBy = (sortBy == 'last_name') ? '-last_name' : 'last_name'">Nazwisko</th>
                                <th ng-click="sortBy = (sortBy == 'email') ? '-email' : 'email'">E-mail</th>
                                <th ng-click="sortBy = (sortBy == 'gender') ? '-gender' : 'gender'">Płeć</th>
                                <th ng-click="sortBy = (sortBy == 'ip_address') ? '-ip_address' : 'ip_address'">Adres IP</th>
                              </tr>
                              <tr ng-repeat="element in list | orderBy:sortBy">
                                <td>{{element.first_name}}</td>
                                <td>{{element.last_name}}</td>
                                <td>{{element.email}}</td>
                                <td>{{element.gender}}</td>
                                <td>{{element.ip_address}}</td>
                              </tr>
                          </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="example3">
                        <div class="panel panel-default">
                            <input class="panel-heading" type="text" ng-model='search' />
                          <div class="panel-heading">Przykładowe dane <br> <small> Z możliwością filtrowania - gender = "Female"</small></div>

                          <table class="table">
                              <tr>
                                <th>Imię</th> <th>Nazwisko</th> <th>E-mail</th> <th>Płeć</th> <th>Adres IP</th>
                              </tr>

                              <tr ng-repeat="element in list | filter:search">
                                <td>{{element.first_name}}</td>
                                <td>{{element.last_name}}</td>
                                <td>{{element.email}}</td>
                                <td>{{element.gender}}</td>
                                <td>{{element.ip_address}}</td>
                              </tr>
                          </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="example4">
                        <div class="panel panel-default">
                          <div class="panel-heading">Przykładowe dane <br> <small> Z włanym filtrem - wszystkie kobiety z email'em *.com</small></div>
                          <table class="table">
                              <tr>
                                <th>Imię</th> <th>Nazwisko</th> <th>E-mail</th> <th>Płeć</th> <th>Adres IP</th>
                              </tr>
                              <tr ng-repeat="element in list | filter:getFemaleAndComAdress | orderBy: '-first_name'">

                                <td>{{element.first_name}}</td>
                                <td>{{element.last_name}}</td>
                                <td>{{element.email}}</td>
                                <td>{{element.gender}}</td>
                                <td>{{element.ip_address}}</td>
                              </tr>
                          </table>
                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- Sekcja główna aplikacji -->
  <script src="view/js/data.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/mainController.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/jquery-1.12.0.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
