
<div class="row" *ngIf="product">
    <div class="col-md-12">				
      <div class="panel panel-default  panel--styled">
        <div class="panel-body">
          <div class="col-md-12 panelTop">	
            <div class="col-md-4">	
              <img class="img-responsive" src="{{product.picture}}" alt="" style="max-width: 300px"/>
            </div>
            <div class="col-md-8">	
              <h2>{{product.title}}</h2>
              <p>{{product.description}}</p>
            </div>
          </div>
          
          <div class="col-md-12 panelBottom">
            <div class="col-md-4 text-center">
              <button class="btn btn-lg btn-add-to-cart" (click)="addToCart(product.id)"><span class="glyphicon glyphicon-shopping-cart"></span> Dodaj do koszyka</button>						
            </div>
            <div class="col-md-4 text-left">
              <h5>Cena <span class="itemPrice">{{product.price}} zł</span></h5>
            </div>
            <div class="col-md-4">
              <div class="stars">
                <div id="stars" class="starrr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>