* {
padding: 0px;
margin: 0px;
border: 0px;
outline: none;
}
/*
p {
 color: yellow;
 font-size: 12px;
}
h1, h2, h3 {
 text-align: right;
 color: yellow;
 font-size: 22px;
}
h3 {
 font-size: 14px;
 color: green;
}
div p {
 font-size: 18px;
 color: blue;
}
span {
	color: green; 
	font-size: 12px;
}
div > span {
	font-size: 14px; 
	color: red;
}
div + p {
  font-size: 18px;
  color: red;
} 
div ~ p {
font-size: 14px;
color: blue;
}
div * {
  font-size: 17px;
  color: red;
}


.nowa-klasa {
	font-size: 19px;
	color: green; 
}

.inna-klasa {
	background: yellow;
	color: black; 
}

.nowa-klasa.rozszerzona {
  font-size: 21px;
  color: blue;
} 


div#kontener > p{
 font-size: 21px;
 color: blue; 
} 

div#tekst {
 background: black;
 color: white;
 

 
  a[title*="To jest atrybut title"]{
  font-size: 19px; color: yellow; 



a:hover 
{
	color:green;
	text-decoration: overline;
}
p:first-letter 
{
	font-weight: bold;
	color: green;
}

p:after 
{
	content:" css";
}


.klasa-tekst a
{
	text-transform: uppercase;
	line-height: 24px;
	text-decoration:none;
	color:red;
}
.klasa-tekst p
{
	text-align: center;
	text-decoration:underline;
}

.klasa-tekst-dwa p:first-child
{
	text-transform:lowercase;
	line-height: 22px;
	letter-spacing: 4px;
	color:red;
}
.klasa-tekst-dwa p:last-child
{
	text-transform:uppercase;
	text-align: center;
	text-decoration:underline;
	first-letter: uppercase;
}
div???


.klasa-kolor strong
{
	color: #ff0000;
}

.klasa-kolor p
{
	color: rgb(10,255,255);
}

.klasa-tlo strong
{
	color: #ffffff;
	background-color: #000000;
}

.klasa-tlo p
{
	background-color: rgb(0,0,255);
}

.klasa-tlo p
{
	width: 300px; height: 300px;
	border: solid 2px black;
	background-image: url("student.png") no-repeat;
}

*/
.klasa-gradient p
{
	height: 300px;
	background: -webkit-radial-gradient(red, yellow, green);
}



