<div class="modal fade loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" data-backdrop="static" data-keyboard="false" >
<div class="modal-dialog" role="document">
  <div class="modal-content" ng-controller="loginController">
      <div class="modal-header">
      <h4 class="modal-title" id="gridSystemModalLabel">Logowanie do systemu</h4>
    </div>
    <div class="modal-body">
        <form name="loginForm" ng-submit='login(loginForm.$valid)' novalidate>
            <div class="form-group" ng-class="{'has-error': (loginForm.name.$invalid && submited)}">
                <label for="name">Imię</label>
                <input type="text" class="form-control" name="name" id="name" ng-model="loginFormData.name" required="true">
                <span class="help-block" ng-show="loginForm.name.$error.required && submited">Wymagane pole</span>
            </div>
            <div class="form-group" ng-class="{'has-error': (loginForm.surname.$invalid && submited)}">
                <label for="surname">Nazwisko</label>
                <input type="text" class="form-control" name="surname" id="surname" ng-model="loginFormData.surname" required="true">
                <span class="help-block" ng-show="loginForm.surname.$error.required && submited">Wymagane pole</span>
            </div>
            <button type="submit" class="btn btn-default">Zapisz</button>
        </form>
  </div>
  </div>
</div>
</div>
