<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nowy projekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="view/css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="math" ng-controller="math_ctrl">
        {{val1 + val2}}
      </div>
  <div class="welcome" ng-controller="kontroler">
    {{welcome}}
    <div ng-bind="welcome2"></div>
    <div ng-bind="welcome3"></div>
  </div>
  <div class="myname" ng-controller="name_ctrl">
    {{myname}}
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/mainController.js"></script>
  <script src="app/controllers/nameController.js"></script>
  <script src="app/controllers/math.js"></script>
</body>
</html>
