<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nowy projekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="view/css/app.css">
</head>
<body ng-app="myApp">
  <header> <!-- Nagłówek strony -->
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="view/images/logo.jpg" />
          </div>
          <div class="col-sm-7">
          </div>
        </div>
      </div>
  </header><!-- Nagłówek strony -->
  <section> <!-- Sekcja główna aplikacji -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="welcome" ng-controller="kontroler">
          <div class="page-header">
            <h1>{{welcome}} <small ng-bind="welcome2"></small></h1>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#example1" aria-controls="example1" role="tab" data-toggle="tab">Przykład 1</a></li>
                  <li role="presentation"><a href="#example2" aria-controls="example2" role="tab" data-toggle="tab">Przykład 2</a></li>
                  <li role="presentation"><a href="#zadanie1" aria-controls="zadanie1" role="tab" data-toggle="tab">Zadanie 1</a></li>
              </ul>
            </div>
            <div class="col-md-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="example1">
                        <div class="input-group">
                          <span class="input-group-addon">Podaj imię</span>
                          <input type="text" class="form-control" ng-model="form.name">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Podaj nazwisko</span>
                          <input type="text" class="form-control" ng-model="form.surname">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Podaj telefon</span>
                          <input type="number" class="form-control" ng-model="form.phone">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Newsletter</span>
                          <input type="checkbox" class="form-control" ng-model="form.check">
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="sprawdz()"> Podsumuj dane </button>
                        <div class="summary" ng-show="form.pokaz">
                            <div class="panel panel-default">
                              <div class="panel-heading">Podane imie</div>
                              <div class="panel-body">
                                {{form.name}}
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">Podane nazwisko</div>
                              <div class="panel-body">
                                {{form.surname}}
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">Podany telefon</div>
                              <div class="panel-body">
                                {{form.phone}}
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">Zapisano do newslettera</div>
                              <div class="panel-body">
                                {{form.check}}
                              </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="example2">
                        <div class="col-md-6">
                            <input type="text" ng-model="nowyElement" />
                            <button class="btn btn-primary" type="button" ng-click="addToList()">Dodaj do listy</button>
                        </div>
                        <div class="col-md-6">
                          <div class="jumbotron">
                            <h2> Moja lista zakupów </h2>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="element in listaZakupow track by $index">{{ element }} <small>zawiera index = {{ $index }}  </small><button class="btn btn-delete" type="button" ng-click="removeFromList($index)">Usuń</button></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="zadanie1" ng-controller="calc">
                        <h2> Kalkulator </h2>
                        <div class="calc">
                            <label>
                                <input type="radio" name="dzialanie" value="1"/>
                                Dodawanie
                            </label>
                            <label>
                                <input type="radio" name="dzialanie" value="2"/>
                                Odejmowanie
                            </label>
                            <div class="form">
                                <input type="number" />
                                <input type="number" />
                                <span>Wynik</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- Sekcja główna aplikacji -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/mainController.js"></script>
  <script src="app/controllers/calc.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/jquery-1.12.0.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
