* {
  margin: 0px;
  padding: 0px;
}
#main {
  width: 537px;
  margin: 0px auto;
}
#menu {
  position: relative;
  top: 4px;
  left: 50px;
}
#content {
    height: 546px;
    background-image: url("../img/glowne_tlo.jpg");
    background-repeat: no-repeat;
    color: #297bc7;
}
#footer {
    line-height: 35px;
    text-align: center;
    font-size: small;
    color: #297bc7;
    background-image: url("../img/tlo_stopka.jpg");
    background-repeat: no-repeat;
    position: relative;
    bottom: 55px;
    height: 35px;
    width: 500px;
    margin: 0 auto;
}

#left {
  background-image: url("../img/tlo_tekst_zielone.jpg");
  float: left;
  width: 261px;
  height: 433px;
  margin: 18px;
  margin-right: 0px;
  padding: 15px;
}

#right {
  width: 215px;
  margin: 18px auto;
  float: right;
  font-size:
}
#right form, #right p {
    font-size: 13px;
    text-align: center;
}
