$brand-primary:         #5bc0de;
$brand-success:         #40FF70;
$brand-info:            #FF4571;
$brand-warning:         #FFDF80;
$brand-danger:          #828bca;

$state-success-bg: lighten($brand-success, 20%);
$state-info-bg: lighten($brand-info, 20%);
$state-warning-bg: lighten($brand-warning, 20%);
$state-danger-bg: lighten($brand-danger, 20%);

$breadcrumb-bg:                 #fff;
$breadcrumb-color:              #333;
$breadcrumb-active-color:       #000;
$breadcrumb-separator:          ">";


$navbar-height:                 70px;
$navbar-inverse-color:          darken($brand-info, 15%);
$navbar-inverse-bg:             $brand-info;
$navbar-inverse-border:         darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-color:     darken($brand-info, 80%);

$grid-columns: 12;