$bg-color: lightblue;
$global-size: 20px;

body {
  background-color: $bg-color;
  font-size: $global-size;
}

@mixin hover-frame($radius: 10px)
{
  border-radius: $radius;
  border: ($radius / 5) dotted red;
   &:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
  }
}

.image-effect {
   @include img-responsive;
   @include hover-frame(15px);
}

.panel {
   @include hover-frame(35px);
}


.breadcrumb {
  border: 12px solid $breadcrumb-color;
}