<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nowy projekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="view/css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp">
  <header> <!-- Nagłówek strony -->
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="view/images/logo.jpg" />
          </div>
          <div class="col-sm-7">
          </div>
        </div>
      </div>
  </header><!-- Nagłówek strony -->
  <section> <!-- Sekcja główna aplikacji -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="welcome" ng-controller="kontroler">
          <div class="page-header">
            <h1>{{welcome}} <small ng-bind="welcome2"></small></h1>
          </div>
          <div class="row directive">
            <div class="col-md-6">
              <button class="btn btn-primary" type="button" ng-click="pokazAlert()" ng-dblclick="dblClick()">{{copied2}}</button>
            </div>
            <div class="col-md-6">
              <div class="jumbotron">
                <h1 ng-copy="kopiowanie()">
                  Skopuj mnie
                </h1>
                <p>{{copied}}</p>

              </div>
            </div>
          </div>
          <div class="welcome" class="row" ng-controller="newcontroller">
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" ng-click="sum1()">1</button>
              <button class="btn btn-danger" type="button" ng-click="sum2()">2</button>
              <button class="btn btn-info" type="button" ng-click="sum3()">3</button>
              <p>{{wynik}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- Sekcja główna aplikacji -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/mainController.js"></script>
  <script src="app/controllers/newcontroller.js"></script>
</body>
</html>
