<div ng-controller="addProductController">
    <form class="addProduct" name="addFormProduct" ng-submit='saveProduct(addFormProduct.$valid)' novalidate>
        <div class="alert alert-success animated" ng-show="showMessage!=null" ng-class="{'fadeIn': showMessage, 'fadeOut': !showMessage} ">
          <strong>Success!</strong> Indicates a successful or positive action.
        </div>
        <div class="form-group" ng-class="{'has-error': (addFormProduct.title.$invalid && submited)}">
            <label for="title">Nazwa produktu</label>
            <input type="text" class="form-control" name="title" id="title" ng-model="formData.title" required="true">
            <span class="help-block" ng-show="addFormProduct.title.$error.required && submited">Wymagane pole</span>
        </div>
        <div class="form-group" ng-class="{'has-error': (addFormProduct.price.$invalid && submited)}">
            <label for="price">Cena</label>
            <input type="number" class="form-control" name="price" ng-model="formData.price" id="price" required="true">
            <span class="help-block" ng-show="addFormProduct.price.$error.required && submited">Wymagane pole</span>
        </div>
        <div class="form-group" ng-class="{'has-error': (addFormProduct.inventory.$invalid && submited)}">
            <label for="invenotry">Ilość</label>
            <input type="number" class="form-control" name="inventory" ng-model="formData.inventory" id="invenotry" required="true">
            <span class="help-block" ng-show="addFormProduct.inventory.$error.required && submited">Wymagane pole</span>
        </div>
        <div class="form-group" ng-class="{'has-error': (addFormProduct.picture.$invalid && submited)}">
            <label for="picture">zdjęcie</label>
            <input type="text" class="form-control" name="picture" ng-model="formData.picture" id="picture" required="true">
            <span class="help-block" ng-show="addFormProduct.picture.$error.required && submited">Wymagane pole</span>
        </div>
        <button type="submit" class="btn btn-default">Zapisz</button>
    </form>

</div>
