<div class="welcome" ng-controller="listProduct">
  <div class="page-header">
    <h1>{{welcome}} <small ng-bind="welcome2"></small></h1>
  </div>
  <div class="row equal">
      <div class="col-sm-6 col-md-3 thumbnail product" ng-repeat="product in listShop">
        <my-product product="product"></my-product>
      </div>
 </div>
</div>
