<div ng-controller="summaryController">
  <div class="row equal">
        <h2>Podsumowanie</h2>
          <table class="table">
            <tr>
              <th>Produkt</th>
              <th>Cena</th>
              <th>Ilośc</th>
              <th>Podgląd</th>
            </tr>
            <tr ng-repeat="item in lista track by $index">
              <td>{{item.title}}</td>
              <td>{{item.price}}</td>
              <td>{{item.inventory}}</td>
              <td><img class="col-xs-6 col-md-3 thumbnail product" ng-src="{{item.picture}}"></td>
            </tr>
          </table>
    </div>
 </div>
