* {
padding: 0px;
margin: 0px;
border: 0px;
outline: none;
}

/*
.klasa-czcionka-nowa p
{
	  font-family: 'latoregular';
}
.klasa-ramka p
{
	border: 2px dotted red;
	border-radius: 10px 10px 10px 10px;
}

.klasa-ramka p
{
	height: 150px;
	border-top: 3px dashed blue;
	border-right: 1px dashed green;
	border-bottom: 2px dashed red ;
	border-left: 5px dashed brown ;

}
/*
.klasa-przycisk a
{
	border: 2px solid black;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	background-color: blue;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: white;
	text-decoration: none;
}

.klasa-ramka p
{
	margin-bottom: 20px;
	border: 2px solid red;
	padding: 10px;
	color: blue;
}
.klasa-ramka div
{
	margin-top: 70px;
	border: 5px solid black;
	padding: 20px;
	color: green;
	text-align: center;
}


.klasa-model strong
{
	margin: 0px 20px 30px 0px;
}

.klasa-model span
{
	margin: 20px 0px 40px 0px;

}

.klasa-model p
{
	margin-top: 50px;
	padding-left: 40px;
}

.klasa-czcionka-nowa p
{
	font-family: Satisfy;
	font-size: 22px;
}



.klasa-listy li
{
	margin: 30px;
	padding: 20px;
	list-style-type: square;
	list-style-position: inside;
}

.klasa-plywajaca p
{
	float: left;
	width: 33.1%;
	border: 1px solid red;
}


---------------
.klasa-plywajaca-kolumny p
{
	float: left;
	width: 24%;
	border: 1px solid red;
}

.clear
{
	clear: both;
}

.klasa-plywajaca-kolumny p.clear
{
	width: 100%;
	border: 1px solid green;
}

.trzy p
{
	float: left;
	width: 33%;
	border: 1px solid gray;
}
------------------
.dwie p
{
	float: left;
	width: 50%;
	border: 0px solid red;
}
.jedna p
{
	float: left;
	margin-top: 20px;
	width: 100%;
	border: 1px solid green;
}

------------------


.klasa-relatywna p
{
	background-color: red;
	width: 150px;
	height: 150px;
	position: relative;
	top: 180px;
	left: 50px;
}

.klasa-relatywna div
{
	width: 300px;
	height: 300px;
	background-color: black;
	color: #fff;
}
------------------


.klasa-absolutna div
{
	width: 300px;
	height: 300px;
	background-color: green;
	color: #fff;
	position relative;
	overflow: hidden;
}

.klasa-absolutna p
{
	background-color: blue;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 150px;
	left: 150px;
	z-index: 1;
}

------------------


.klasa-zindex p
{
	width: 100px;
	height: 100px;
	position: absolute;
	text-align: center;
	padding: 10px;
}

.index-1
{
	background: red;
	z-index: 1;
	top: 0px;
}

.index-2
{
	background: green;
	z-index: 2;
	left: 20px;
	top: 30px;
}

.index-3
{
	background: yellow;
	z-index: 3;
	left: 40px;
	top: 60px;
}

.index-4
{
	background: pink;
	z-index: 4;
	left: 60px;
	top: 90px;
}
------------------


.absolutna-klasa1
{
	color: red;
	height: 100px;
	width: 100px;
	position: absolute;
	top:50px;
	left:30px;
}

.absolutna-klasa2
{
	color: green;
	height: 100px;
	width: 100px;
	position: absolute;
	top:50px;
	right:30px;
}

------------------

.fixed-klasa2
{
	color: blue;
	height: 200px;
	width: 100px;
	background-color: gray;
	position: fixed;
	right: 0px;
}

------------------

.lista-klasa2
{
	list-style-type: square;
	list-style-position: inside;
}
.red
{
	color: red;
}

.green
{
	color: green;
}
----------------------------
*/

.menu
{
	background-color: black;
	font-family: tahoma;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	line-height: 26px;
}
.menu ul li
{
	display: inline;
	padding: 2px 5px 5px 2px;
}
a:link
{
	color: white;
	text-decoration: none;
}
