<div class="row">
  <div class="col-sm-6 col-md-4 equal" *ngFor="let product of products; let i = index">
    <div class="thumbnail">
      <img src="{{product.picture}}" alt="...">
      <div class="caption">
        <h3>{{product.title}}</h3>
        <p>Cena: {{product.price}}</p>
        <p>Ilośc: {{product.inventory}}</p>
        <p><a routerLink="product/{{product.id}}" class="btn btn-primary" role="button">Zobacz</a> 
          <button class="btn btn-default" type="button" (click)="addToCart(product.id)"><i class="glyphicon glyphicon-plus-sign"></i></button></p>
      </div>
    </div>
  </div>
</div>