<div class="">
  <img ng-src="{{product.picture}}" alt="">
  <div class="caption">
    <h3>{{ product.title}}</h3>
    <div class="price">{{ product.price | currency:'PLN ' }}</div>
    <div class="count">Ilość: {{ product.inventory }}</div>
    <div class="listButton">
        <button type="button"  class="btn btn-primary" ng-click="addProduct(product)" role="button">Dodaj do koszyka <span class="glyphicon glyphicon-plus"> </span></button>
    </div>
  </div>
</div>
