body{
  font-family: 'Raleway', sans-serif;
}
img{
  width: 100%;
}
header{
    padding: 25px 0;
    border-bottom: 1px solid #f1f1f1;
}
section{
  margin-top: 80px;
}
section .page-header h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #494c4e;
}
section .page-header h1 small{
  display: block;
  color: #999999;
  font-weight: bold;
}
section .directive{
  text-align: center;
  margin-top: 50px;
}
