* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: none;
}

/*
.kontener div
{
  background-image: url('../img/tlo.jpg');
  border: 2px solid black;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
.blok div img
{
  margin-top: 20px;
}

.blok div p
{
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

------------------------------
.box-shadow
{
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50px;
  left: 30px;
  box-shadow: 5px 5px 10px 3px black;
  opacity: 0.4;
}
.box-shadow p
{
  color: red;
  text-shadow: 1px 1px 2px black
}
-------------------------------------


.content-box
{
  width: 300px;
  height: 300px;
  border: 12px solid black;
  margin: 20px;
  padding: 20px;
  box-sizing: content-box;
}

.border-box
{
  width: 300px;
  height: 300px;
  border: 12px solid black;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}
-------------------------------------

.background-box
{
  background-image: url("../img/obrazek.jpg"),  url("../img/tlo.jpg");
  background-size: 100px auto, 100px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 100% 0;
  width: 400px;
  height: 400px;
}
--------------------------------------

.text-css
{
  margin: 10px;
  width: 150px;
  word-break: break-all;
  letter-spacing: 4px;
  word-spacing: 5px;
  border: 15px transparent solid;
  border-image: url("../img/tlo.jpg") 5 round;
}
--------------------------------------

.element-flex-pozycja p
{
  justify-content: flex-start;
  column-count: 2;
  column-gap: 20px;
}
--------------------------------------

p {
width: calc((100% - 20px ) /3);
}
--------------------------------------

a
{
  margin-top: 15px;
  border: 12px solid;
  border-color: red;
  background-color: green;
  transition: border-color 10s;
  width: 100px;
}

a:hover
{
  border-color: blue;
  width: 200px;
}
--------------------------------------


.transform
{
  width: 200px;
  margin-top: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  border: 2px;
  transform:rotate(60deg);
}
div:hover
{
  transform:rotate(30deg);
}
--------------------------------------
*/

.pudelko
{
  padding: 10px;
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  animation: animacja 3s ease 1s infinite alternate none;
}

.pudelko:hover
{
  animation-play-state: paused;
}

@keyframes animacja
{
  0% { margin-left: 0; background: red; }
  25% { margin-left: 5%; background: blue; }
  50% { margin-left: 10%; background: green; }
  75% { margin-left: 20%; background: yellow; }
  100% { margin-left: 40%; background: black; }
}
