body {
	margin: 0;
}

#main-content {
	background-color: white;
}

#header {
	background-color: white;
}


#content {
	background-color: white;
	width: 70%;
	float: left;
	border-right: 1px solid #ADADAD;
	padding: 10px;
	
	box-sizing: border-box;
}

#menu-left{
	width: 30%;
	background-color: white;
	float: right;
	box-sizing: border-box;
	padding: 5px;
}

#footer {
	background-color: #0d3c55;
	color: #FFF;
	padding: 15px 10px;
	text-align: center;
	clear: both;
}

#footer div {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}

#slider {
	height: 120px;
	background-color: brown;
}


#logo {
	font-size: 16px;
	text-align: center;
}

#menu-top {
	height: 60px;
	position:relative;
}

#menu {
	position: absolute; top: 5px; right: 5px;
}

#menu li {
	list-style: none; display: inline;
}

#menu li a {
	text-decoration: none;
	text-transform: uppercase;
}
